/* Navbar font
font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
*/
/*
font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
*/
@media only screen and (max-device-width: 767px) {
  .brand-lg {
    display: none;
  }
}

@media only screen and (min-device-width: 1210px) {
  .mainBarLeft {
    margin-left: 150px;
  }
  .mainBarRight {
    margin-right: 150px;
  }
  .container_general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #img_new_principal {
    width: 100%;
  }
  
  .principal_news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1208px;
    margin: auto;
  }
  
  .new_principal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .new_articles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .new_extrem_rigth {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  } 
  
  .container_picks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .picks {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.5mm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1208px;
    margin: auto;
  }
  
  .see_picks {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  
  .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1208px;
    margin: auto;
  }
  
  .section_left {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 1%;
  }
  
  .section_rigth {
    -ms-grid-column-align: end;
        justify-self: end;
    padding-left: 20%;
    margin-top: 2%;
  }
  
  .popular {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.5mm;
  }
  
  .div_number {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.15);
  }
  
  .ranking {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .buttons_marker {
    display: inline;
  }
}

@media only screen and (min-device-width: 1439px) {
  /* For desktop: */
  .container_general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #img_new_principal {
    width: 100%;
  }
  
  .principal_news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1208px;
    margin: auto;
  }
  
  .new_principal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .new_articles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .new_extrem_rigth {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  } 
  
  .container_picks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .picks {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.5mm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1208px;
    margin: auto;
  }
  
  .see_picks {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  
  .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1208px;
    margin: auto;
  }
  
  .section_left {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 1%;
  }
  
  .section_rigth {
    -ms-grid-column-align: end;
        justify-self: end;
    padding-left: 20%;
    margin-top: 2%;
  }
  
  .popular {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.5mm;
  }
  
  .div_number {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.15);
  }
  
  .ranking {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .buttons_marker {
    display: inline;
  }
}

@media only screen and (min-device-width: 768px) {
  /* For desktop: */
  .mainBarLeft {
    margin-left: 150px;
  }
  .mainBarRight {
    margin-right: 150px;
  }
  .brand-xs {
    display: none;
  }
}
#img_new_principal{
  width: 100%;
}

.main-bar {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
}

.mainBarLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.mainBarRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainBarRight .svgIcon-use {
  cursor: pointer;
  fill: gray;
  margin-right: 15px;
}

.mainBarRight .svgIcon-use :hover {
  fill: black;
}

.mainBarRight .btn {
  margin-right: 15px;
}

.btn {
  color: black;
  background-color: white;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
  color: black;
  background-color: white;
  border-color: black;
}

.user-avatar {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.user-avatar .avatar-image {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.mainNav_Wrapper {
  margin-top: 15px;
  margin-left: 135px;
  margin-right: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow: hidden;
  max-width: 1050px;
}

.mainNav_Wrapper a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  color: darkgray;
  margin: 10px;
}

.mainNav_Wrapper a a:hover {
  color: grey;
  fill: black;
}

.mainNav_Wrapper .main-Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainNav_Wrapper .main-Nav .mainNav-Advancer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  fill: darkgray;
  border: none;
}

.mainNav_Wrapper .main-Nav .mainNav-Advancer :hover {
  fill: black;
}

/*--------------------*/
.container-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.container-principal .container-notice-left {
  background-color: violet;
  -ms-grid-column-align: start;
  justify-self: start;
}

.container-principal .container-notice-center {
  background-color: yellow;
  -ms-grid-column-align: center;
  justify-self: center;
}

.container-principal .container-notice-center article {
  background-color: blue;
}

.container-principal .container-notice-rigth {
  background-color: pink;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}


body {
  margin: 1em;
}

* {
  padding: 0;
  margin: 0;
}

.menu-wrapper {
  position: relative;
  max-width: 800px;
  width: auto;
  height: 40px;
  margin: 1em auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu {
  padding: 0 1em;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  width: auto;
  height: 40%;
  background-color: white;
}

.paddle {
  height: 30px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1em;
}

.left-paddle {
  left: 0;
  border: none;
  background-color: none;
}

.right-paddle {
  right: 0;
  border: none;
}

.hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*modal CSS */
#content-text {
  height: 15vw;
}

.modal-content .modal-container .profile-box .social-networks .network-logo button {
  background-color: transparent;
  border: transparent;
}

.modal-content .modal-container .profile-box .social-networks .network-logo:hover {
  cursor: pointer;
}

.modal-content .modal-container .profile-box .profile .img-profile:hover {
  cursor: pointer;
}

.modal-content .modal-container .profile-box .profile .name-profile div a {
  color: black;
}

.modal-content .modal-container .profile-box .profile .name-profile div button {
  font-size: 1vw;
}

.modal-content .modal-container .image {
  overflow: hidden;
}

#img-card {
  width: 150px;
  height: 170 px;
}

.popover .popover-body ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.popover .popover-body ul li {
  list-style: none;
  padding-bottom: 2px;
}

.popover .popover-body ul li span button {
  background-color: transparent;
  border: transparent;
  font-weight: lighter;
}

.popover .popover-body ul li span button:hover {
  font-weight: normal;
}

/*END modal CSS */
/*# sourceMappingURL=style.css.map */