/* Navbar font
font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
*/

/*
font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
*/
*{
    box-sizing: border-box;
}

#content-text {
    height: 15vw;
}
.modal-content{
    .modal-container{
        .profile-box .profile .name-profile div{
            a{color: black; }
            button{font-size: 1vw;}
        }
        .image{
            overflow: hidden;
        }
    }
}