/* Navbar font
font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
*/
/*
font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
*/  
  
*{
    box-sizing: border-box;
    font-size: 15px;
}


                        /*modal CSS */
#content-text {
    height: 15vw;
}
.modal-content{
    .modal-container{
        .profile-box{
            .social-networks .network-logo button{
                background-color: transparent;
                border: transparent;
            }
            .social-networks .network-logo:hover{
                cursor: pointer;
            }
            .profile{
                .img-profile:hover{cursor: pointer;}
                .name-profile div{
                    a{color: black; }
                    button{font-size: 1vw;}
                }
            } 
        }
        .image{
            overflow: hidden;
        }
    }
 } 

 #img-card{
     width: 150px;
     height: 170 px;
 }
 
 .popover{
     .popover-body{
         ul{
            padding-inline-start: 0px;
            li{
                list-style: none;
                padding-bottom: 2px;
                span{
                    button{
                        background-color: transparent;
                        border: transparent;
                        font-weight: lighter;
                    }
                    button:hover{
                        font-weight: normal;
                    }
                } 
            }
         } 
     }
 }
                         /* modal CSS */
header{
    max-width: 95%;
    margin: 5px auto;
    .top-container{
        .container-icons{
            .svgIcon{
                fill: rgba(0,0,0,.54);
            }
        }
        .svgIcon:hover{
            cursor: pointer;
            fill: rgba(0,0,0,.84) ;
        }
    }
 } 

 button{
     height: min-content;
 }

 /*scroll nav-bar*/
 .nav-bar{

     .arrow{
        button{
            background-color: transparent;
            border: none;
        }
     }
    .menu-wrapper {
        height: 35px;
        position: relative;
        overflow-y: hidden;
        .menu {
            list-style: none;
            height:50px;
            white-space: nowrap;
            overflow: auto;
            padding-inline-start: 10px;
            -webkit-overflow-scrolling: touch;
            li{
            display: inline-block;
            float: none;
            padding: 7px;
            a:hover{color: rgba(0,0,0,.84) ;}
            a{
                text-decoration: none;
                color: rgba(0,0,0,.54);
                display: inline-block;
                }
            }
          }
          .paddle {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 3em;
          } 
      }
 }
  /*scroll nav-bar*/

.news-container{
    .news{
        border: none;
        padding: 5px;
        .principal-img{
            height: 150px;
            overflow: hidden;
            vertical-align: middle;
            display:flex;
            align-items: center;
        }
        .second-img{
            height: 100%;
            overflow: hidden;
            vertical-align: middle;
            display:flex;
            align-items: center;
            img{
                height: 110px;
            }
    }
}
    .card{
        border: none;
    }
    .lateral-articles{
    height: 100%;
    } 
    .content-cards{
    height: 100%;
    }
    .title-new-card{
        font-weight: bold;
    }
    .subtitle-new-card{
        max-height: 60px;
        font-size: 16px;
        color: rgba(0,0,0,.54);
    }
}

.editor-picks{
    border-bottom: 0.5px solid rgba(0,0,0,.54);
}

.lastest-section{
    margin-top: 3vw;
    .new-inputs{
        .card{
            border: none;
            .card-body{
                height: 100%;
            }
            .img-card{
                max-width: 140px;
                height: 100%;
                overflow: hidden;
                .card-img{width: 180px;}
            }
        }
    }
    .popular{
        aside{
            h3{
                font-size: 24px;
                padding-bottom: 10px;
                border-bottom: 0.5px solid rgba(0,0,0,.54);
            }
            .popular-list{
                padding: 25px;
                .numb{font-size: 34px;
                    color: rgba(0,0,0,.15);
                }
                .pop-title{
                    margin-top: 8px;
                    .title{color: black;}
                    .info-card{
                        a{color: black;}
                    }
                }
            }
            footer{
                div{
                    overflow-wrap: break-word;
                    ul{
                        li{
                            list-style: none;
                            margin-right: 5px;
                            a{color:rgba(0,0,0,.54) ;}
                        }
                    }
                }
                
            }
        }
    }
}